@using DK.MVC.Authentication
@model Structure.Entities.System.Episode

@if (!Authenticate.IsAuthenticated && Model.HasSummary()) {
	<div class="just-print summary">
		<p class="title">
			Resumo do Capítulo
		</p>
	
		@Model.Summary
	</div>
}

