@model Structure.Entities.System.Episode

<div class="just-print header-box">
	<div class="header">
		<span class="title">
			@Model.Title
		</span>
		<div class="name">
			MEAK
		</div>
		<div class="id">
			@Model.Season@Model
		</div>
	</div>
</div>
