@model Structure.Entities.System.Episode

<div class="just-print synopsis page-even-item">
	@await Html.PartialAsync("Partial/PrintHeader", Model)
	@await Html.PartialAsync("Partial/PrintFooter", 2)

	<p class="title">
		Sinopse
	</p>

	@Model.Synopsis
</div>
