@using Structure.Helpers

@model Structure.Entities.System.Episode

@if (!Config.IsAuthor && Model.HasSummary())
{
	var storyPages = Model.BlockList.Sum(b => b.PageCount) + 1;
	var page = storyPages + 1;
	var style = page % 2 == 0 ? "even" : "odd";
	var pageItem = $"page-{style}-item";

	<div class="just-print summary @pageItem">

		@await Html.PartialAsync("Partial/PrintHeader", Model)
		@await Html.PartialAsync("Partial/PrintFooter", page)

		<p class="title">
			Resumo do Capítulo
		</p>

		@Model.Summary
	</div>
}
