@model Structure.Entities.System.Episode

@{
	var storyPages = Model.BlockList.Sum(b => b.PageCount) + 1;
	var page = storyPages + 3;
	var lastPageWasOdd = page % 2 == 0;
}

<div class="just-print">
	@if (lastPageWasOdd)
	{
		@await Html.PartialAsync("Partial/PrintEmpty", new PageFrame(Model, page))
		page++;
	}

	<div class="summary page-odd-item">
		@await Html.PartialAsync("Partial/PrintFrame", new PageFrame(Model, page))

		<p class="title">
			Resumo do Capítulo
		</p>

		@Model.Summary
	</div>

	@{ page++; }

	@await Html.PartialAsync("Partial/PrintEmpty", new PageFrame(Model, page))
</div>
