@using Structure.Helpers
@model Structure.Entities.System.Episode

@{
	var startPage = UrlUserType.IsAuthor()
		? Model.PageStart
		: 0;
}

<div class="just-print" style="counter-reset: page @startPage">
	<div id="header">
		<div id="left">
			MEAK @Model.Season@Model
		</div>
		<div id="right">
			@Model.Title
		</div>
	</div>
	<div id="footer"></div>
</div>
