@using Structure.Helpers

@model Structure.Entities.System.Episode

@if (!Config.IsAuthor && Model.HasSummary())
{
	var storyPages = Model.BlockList.Sum(b => b.PageCount) + 1;
	var page = storyPages + 1;

	if (page % 2 == 0)
	{
		<div class="just-print empty page-even-item">
			@await Html.PartialAsync("Partial/PrintHeader", Model)
			@await Html.PartialAsync("Partial/PrintFooter", page)

			Esta página está vazia para que o resumo fique em uma página ímpar.
		</div>

		page++;
	}

	<div class="just-print summary page-odd-item">
		@await Html.PartialAsync("Partial/PrintHeader", Model)
		@await Html.PartialAsync("Partial/PrintFooter", page)

		<p class="title">
			Resumo do Capítulo
		</p>

		@Model.Summary
	</div>
}
