@using DK.MVC.Authentication
@model Structure.Entities.System.Episode

@{
	var startPage = Authenticate.IsAuthenticated
		? Model.PageStart
		: 0;
}

<div class="just-print" style="counter-reset: page @startPage">
	<div class="header">
		<div class="name">
			MEAK
		</div>
		<div class="ep-name">
			@Model.Title
		</div>
		<div class="ep-id">
			@Model.Season@Model
		</div>
	</div>
	<div class="footer"></div>
</div>
