@model PageFrame

<div class="just-print">
	<div class="header-box">
		<div class="header">
			<span class="series">
				@Model.Series
			</span>
			<span class="title">
				@Model.Title
			</span>
		</div>
	</div>

	<div class="footer">
		<span class="code">
			@Model.Code
		</span>
		<span class="page">
			@Model.Page
		</span>
	</div>
</div>
