@model Structure.Entities.System.Episode

<div class="just-print synopsis page-even-item">
	@await Html.PartialAsync("Partial/PrintFrame", new PageFrame(Model, 2))

	<p class="title">
		Sinopse
	</p>

	@Model.Synopsis
</div>
