body {
	background: #000 no-repeat fixed center center
		url("/Assets/images/fundo.gif");
}

.darkback
{
	background: #222 url("/Assets/images/boxes/dark_background.jpg") !important;
	color: #FFF !important;
}

.lightback
{
	background: #EEE url("/Assets/images/boxes/light_background.jpg") !important;
	color: #000 !important;
}
