<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="Stories" value="..\..\..\Stories\" />
		<add key="Messages" value="Messages" />
		<add key="CountdownStart" value="27/03" />
		<add key="CountdownFrequency" value="14" />

		<add key="aspnet:MaxHttpCollectionKeys" value="5000" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7">
			<assemblies />
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/" timeout="2880" />
		</authentication>
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<customErrors mode="RemoteOnly" />
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="pt-BR" uiCulture="pt-BR" />
	</system.web>
	
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />

		<rewrite>
			<rules>
				<rule name="facebook" stopProcessing="true">
					<match url="^([A-J])([0-9]{2}).meak$" />
					<action type="Rewrite" url="/§{R:1}[{R:2}][a]" />
				</rule>
				<rule name="facebook_scene" stopProcessing="true">
					<match url="^([A-J])([0-9]{2})([a-g]).meak$" />
					<action type="Rewrite" url="/§{R:1}[{R:2}][{R:3}]" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>