syntax: glob
*.orig
.hg*
BackUp

[^a-g_].json
*.log

bin
obj
*.user
*.suo
_ReSharper.*
*.dotCover
*.vs
Site/Presentation/Presentation.Publish.xml
Site/Presentation/Properties/PublishProfiles/*
packages

/Site/Presentation/login.config
