@model Presentation.Models.SeasonIndexModel

@{
    ViewBag.Title = "MEAK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="title">Olhos e Dentes</p>

<p>
    Na fina flor da noite limpa se ocultam<br />
    E findam um infeliz, alguém qualquer<br />
    Depois vão-se e enterre quem vier<br />
    Não se preocupam com o que insultam<br />
</p>

<p>
    A lua é mãe carinhosa que os guarda<br />
    O sol, pai que sabe bem o que fazem<br />
    É dele que muitos dos filhos jazem<br />
    Cumpre seu dever de brilhante farda<br />
</p>

<p>
    Por isso em sua presença se mascaram<br />
    Por isso de sua presença se escondem<br />
    Por isso órfãos de pai têm vivido<br />
</p>

<p>
    E esta briga eterna lua e sol encaram<br />
    Por mais poesias que se moldem<br />
    Um os mata, outro os tem protegido<br />
</p>

<p class="sign">13/02/2004</p>