@model Presentation.Models.SeasonIndexModel

@{
    ViewBag.Title = "MEAK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="title">Carta</p>

<p>
    O mundo nunca foi dos humanos. A tua vida é um pingo na eternidade de outros. Tua sorte é brincadeira para os que têm a tão sonhada juventude. O poder destes é inigualável. Desejaram isto, mas também suas conseqüências: as trevas, a morte, a incompreensão... A diferença que às vezes os superioriza e às vezes os coloca como o pior, o mais baixo e vil dos seres.
</p>

<p>
    Eles escolheram ter poder sobre a vida dos outros e perdê-lo sobre a sua. Eles escolheram se alimentar da vida alheia. Eles escolheram essa dependência. Eles escolheram sentir o gosto do que já sentiram dentro de seu corpo, o que faz dos outros seres fisicamente vivos. Eles escolheram a liberdade, e toda liberdade tem seu preço.
</p>

<p>
    Enfim, eles não só escolheram. Foram também escolhidos. Pelas trevas, pela mais ingrata das forças, mas escolhidos. São mais fortes, mais ágeis. Mas, em metade do dia, mais frágeis. Eles têm que correr, pra isso são rápidos. Têm que se defender, pra isso são fortes. Têm que sobreviver, pra isso não são mais vivos.
</p>

<p class="sign">29/03/2003</p>