@model Presentation.Models.General.TopSelectorModel

<ul class="scene-changer">
	@for (int s = 0; s < Model.Total; s++)
	{
		<li scene="@s" class="scene-changer@(s) @if (s == Model.Current) { @(" chosen") }">
			&nbsp;
		</li>
	}
</ul>