@using Presentation.Helpers
@using Structure.Enums
<div id="legend" onclick="AnimateLegend()">
	<div class="legend-header">
		Legenda
	</div>
	
	<div class="body lightback">
		@foreach (TalkStyle style in Enum.GetValues(typeof (TalkStyle)))
		{
			<span class="talk_@style">@Dic.Talk[style]</span><br />
		}
	</div>

	<div class="header">
		- - - - - - -
	</div>
</div>