<table>
    <tr>
        <td class="logo">
            <a href="@Url.Content(@"~\")">
                <img alt="MEAK" src="@Url.Content(@"~/Assets/images/logo.gif")" />
            </a>
        </td>
        <td class="arms">
            <a href="@Url.Content(@"~\")">
                <img alt="MEAK" src="@Url.Content(@"~/Assets/images/arms.gif")" />
            </a>
        </td>
    </tr>
</table>