<div id="legend" class="darkback" onclick="AnimateLegend()">
    <div class="header">
        Legenda
    </div>

    <div class="body">
        <span class="talk_Arrive">Chegada</span><br />
        <span class="talk_Frizz">Frisado</span><br />
        <span class="talk_Out">Longe</span><br />
        <span class="talk_Read">Lido</span><br />
        <span class="talk_Teller">Ação</span><br />
        <span class="talk_Screamed">Gritado</span><br />
        <span class="talk_Special">Só alguns ouvem</span><br />
        <span class="talk_Thought">Pensado</span><br />
        <span class="talk_Hushed">Sussurrado / Voz Fraca</span><br />
        <span class="talk_Ghost">Fantasma</span><br />
        <span class="talk_Mute">Gestos</span><br />
        <span class="talk_Irony">Ironia / Sarcasmo</span><br />
    </div>
</div>