@model Presentation.Models.ErrorModel

@{
	ViewBag.Title = "Erro";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var error = Model.Error;
}

<h2>Ops!</h2>

<p>
	Aconteceu um erro ao tentar acessar esta história.
</p>

<p>
	Por favor, entre em contato:
	<a href="mailto:meak@darakeon.com">meak@darakeon.com</a>
</p>

<div class="error-details">
	@while (error != null)
	{
		var stacktrace = error.StackTrace ?? "";

		var stackLines = stacktrace 
			.Replace("\r", "")
			.Split('\n')
			.Select(s => $"<li>{s}</li>");

		stacktrace = String.Join("", stackLines);

		<p class="title">@error.Message</p>
		<small>
			<ul>@Html.Raw(stacktrace)</ul>
		</small>

		error = error.InnerException;
	}
</div>
