@model Presentation.Models.ErrorModel

@{
	ViewBag.Title = "Erro";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Request.Url?.DnsSafeHost == "localhost")
{
	var stackLines = Model.Stacktrace
		.Replace("\r", "")
		.Split('\n')
		.Select(s => $"<li>{s}</li>");

	var stack = String.Join("", stackLines);

	<p class="title">@Model.Message</p>
	<small>
		<ul>@Html.Raw(stack)</ul>
	</small>
}
else
{
	<h2>Ops!</h2>

	<p>
		Aconteceu um erro ao tentar acessar esta história.
	</p>

	<p>
		Por favor, entre em contato:
		<a href="mailto:meak@darakeon.com">meak@darakeon.com</a>
	</p>
}
