.login
{
    position: absolute;
    opacity: 0.85;
    filter: alpha(opacity=85);
}

.login .inner
{
    width: 200px;
    padding: 20px;
    text-align: center;
}

.login input
{
	width: 180px;
	margin: 5px;
}