.main input
{
	background: none;
}

.main input, .main select
{
	border: none;
	text-align: inherit;
	font: inherit;
	color: inherit;
	margin: 3px 0px;
}

.titleChange 
{
    margin-bottom: 20px;
}

.titleChange input
{
    font-size: 150%;
    font-weight: bold;
}



.main button
{
    border: none;
    padding: 5px;
    font-size: 125%;
    font-weight: bold;
}

.main .scene button
{
    width: 100%;
    margin: 25px 0 50px 0;
}




#Story_Title
{
    width: 500px;
}



.main input.auxi
{
	width: 70px;
}



.yellowSave
{
	background: #550 url("/Assets/images/boxes/yellow_background.jpg") !important;
	color: #FFF !important;
}

.greenSave
{
	background: #050 url("/Assets/images/boxes/green_background.jpg") !important;
	color: #FFF !important;
}

.redSave
{
	background: #500 url("/Assets/images/boxes/red_background.jpg") !important;
	color: #FFF !important;
}
