.main input,
.main textarea,
.absolute-header input,
.absolute-header textarea
{
	background: none;
}

.main input
{
	width: 570px;
}

.main .no-adders input
{
	width: 650px;
}

.main .page input
{
	margin-left: 78px;
	padding-left: 7px;
}

.main input,
.main textarea,
.main select,
.absolute-header input,
.absolute-header textarea,
.absolute-header select
{
	border: none;
	text-align: inherit;
	font: inherit;
	color: inherit;
	margin: 3px 0;
}

.titleChange 
{
	margin-bottom: 20px;
	font-size: 117%;
	padding: 10px 15px 0 15px;
	width: 300px;
}

	.titleChange input
	{
		font-size: 150%;
		font-weight: bold;
	}

	.titleChange br
	{
		clear: both;
	}

	.titleChange textarea
	{
		border-top: 1px solid #999;
		border-bottom: 1px solid #999;
		box-sizing: border-box;
		display: block;
		width: 100%;
	}

	.titleChange .paragraphCountTitle {
		display: block;
		text-align: right;
	}

.main .save,
.absolute-header .save
{
	border: none;
	padding: 5px 20px;
	font-size: 125%;
	font-weight: bold;
	text-decoration: none;
	width: 100%;
}

.main button.save
.absolute-header button.save
{
	padding: 4px 5px 34px 5px;
}

.main {
	margin-top: 32px;
}

.main .block button
{
	width: 100%;
	margin: 25px 0 50px 0;
}


#Story_Title
{
	width: 100%;
}


.main span.auxi,
.main input.auxi
{
	width: 70px;
	display: inline-block;
}

.main input.auxi {
	border: 1px solid #999;
}

.main span.auxi
{
	padding: 2px;
	opacity: 0.4;
}

.yellowSave
{
	background: #550 url("/Assets/images/boxes/yellow_background.jpg") !important;
	color: #FFF !important;
}

.greenSave
{
	background: #050 url("/Assets/images/boxes/green_background.jpg") !important;
	color: #FFF !important;
}

.redSave
{
	background: #500 url("/Assets/images/boxes/red_background.jpg") !important;
	color: #FFF !important;
}



form.disabled *
{
	filter: alpha(opacity=75);
	opacity: 0.75;
}


.suggestionCharacter input,
.suggestionCharacter .suggestionBox
{
	margin-right: 4px;
}

#main-info .toggle {
	border: none;
	font-size: 1.5em;
	font-weight: bold;
	background: transparent;
	position: absolute;
	bottom: 0;
	right: -20px;
	color: #FFF;
}
