.main input,
.main textarea,
.absolute-header input,
.absolute-header textarea
{
	background: none;
	width: 580px;
}

.main input,
.main textarea,
.main select,
.absolute-header input,
.absolute-header textarea,
.absolute-header select
{
	border: none;
	text-align: inherit;
	font: inherit;
	color: inherit;
	margin: 3px 0px;
}

.titleChange 
{
    margin-bottom: 20px;
	font-size: 117%;
	padding: 10px 15px 0 15px;
}

	.titleChange input
	{
		font-size: 150%;
		font-weight: bold;
	}

	.titleChange textarea
	{
		width: 100% !important;
		border-top: 1px solid #999;
		border-bottom: 1px solid #999;
	}

	.titleChange .paragraphCountTitle {
		float: right;
		margin: 10px;
	}

.main .save,
.absolute-header .save
{
    border: none;
    padding: 5px;
    font-size: 125%;
    font-weight: bold;
    text-decoration: none;
    height: 35px;
}

.main button.save
.absolute-header button.save
{
    padding: 4px 5px 34px 5px;
}

.main {
	margin-top: 32px;
}

.main .scene button
{
    width: 100%;
    margin: 25px 0 50px 0;
}




#Story_Title
{
    width: 500px;
}



.main input.auxi
{
	width: 70px;
	border: 1px solid #999;
}



.yellowSave
{
	background: #550 url("/Assets/images/boxes/yellow_background.jpg") !important;
	color: #FFF !important;
}

.greenSave
{
	background: #050 url("/Assets/images/boxes/green_background.jpg") !important;
	color: #FFF !important;
}

.redSave
{
	background: #500 url("/Assets/images/boxes/red_background.jpg") !important;
	color: #FFF !important;
}



form.disabled *
{
	filter: alpha(opacity=75);
	opacity: 0.75;
}


.suggestionCharacter input,
.suggestionCharacter .suggestionBox
{
    margin-right: 4px;
}