@model Presentation.Models.General.TopSelectorModel

<ul class="block-changer">
	@for (int s = 0; s < Model.Total; s++)
	{
		<li block="@s" class="block-changer@(s) @if (s == Model.Current) { @(" chosen") }">
			&nbsp;
		</li>
	}
</ul>