.talk_Arrive {
	color: #C0C;
}

.talk_Frizz {
	text-decoration: underline;
}

.talk_Out {
	font-style: italic;
}

.talk_Read {
	color: #770;
}

.talk_Teller {
	font-weight: bold;
}

	.talk_Teller:before,
	.talk_Teller:after {
		content: " – ";
	}

.talk_Screamed {
	text-transform: uppercase;
}

.talk_Special {
	color: #C90;
}

.talk_Thought {
	color: #00C;
}

.talk_Hushed {
	color: #666;
}

.talk_Ghost {
	color: #070;
}

.talk_Mute {
	color: #077;
}

.talk_Irony {
	color: #C00;
}

.talk_Translate {
	font-size: 80%;
}

	.talk_Translate:before {
		content: "{";
	}

	.talk_Translate:after {
		content: "}";
	}


.teller_Default {
	font-weight: bold;
}

.teller_First {
	font-weight: bold;
	padding-top: 38px;
}

.teller_Letter {
	font-style: italic;
}

.teller_Division {
	border-bottom: 1px solid;
	font-size: 120%;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 38px;
	text-align: right;
	text-transform: uppercase;
}

.paragraph:first-child div
{
	margin-top: 0;
}

.teller_Trigger {
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	color: #777;
}

.trigger-hidden {
	display: none;
}