.main
{
	text-align: justify;
	height: auto;
	font-size: 130%;
	filter: alpha(opacity=80);
	opacity: 0.80;
}

.main p.title
{
	text-align: center;
	font-size: 125%;
	font-weight: bold;
	text-transform: uppercase;
}

	.main p.title .sub {
		font-family: monospace;
		font-weight: normal;
		color: #555;
	}

		.main p.title a.sub {
			font-size: 60%;
			text-decoration: none;
		}

.main .sign
{
	text-align: right;
	clear: both;
}

.main p
{
	margin: 0px 0px 20px 0px;
}



.message
{
	margin-bottom: 100px;
}

.continue
{
	text-align: center;
	margin: 50px 0;
	font-variant:small-caps;
	font-size: 150%;
}

.absolute-header {
	filter: alpha(opacity=95);
	opacity: 0.95;
	position: fixed;
	display: block;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}

.absolute-header:after {
	margin-top: 100px;
}