*
{
	background: none transparent;
}

.main
{
	font-size: 12pt;
	font-family: Times New Roman;
}

p.title
{
	margin: 30px 0 0 0;
}

.blocks, .summary
{
	display: table;
	padding: 30px 0;
}

.summary {
	page-break-before: always;
}

	.summary .title
	{
		margin-bottom: 30px;
	}

.just-print .header
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	text-align: center;
	opacity: 0.5;
}

	.just-print .header .name
	{
		float: left;
	}

	.just-print .header .id
	{
		float: right;
	}

.just-print .cover-first-title
{
	position: absolute;
	top: 0;
	width: 80%;
	left: 10%;
	right: 10%;
	text-align: center;
	height: 14pt;
	background: #FFF;
}

.just-print .footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: table-footer-group;
	opacity: 0.5;
}

	.just-print .footer:after {
		counter-increment: page;
		content: counter(page);
	}

img,
.menu,
.head,
.navigation,
.resizer,
.block-changer,
.screen-action,
.play
{
	display: none;
}

.block:not(:first-child) {
	padding-top: 38px;
}

.teller_Division {
	border-bottom: 2px dotted;
}

.paragraph {
	break-inside: avoid;
}
