*
{
	background: none transparent;
}

.main
{
	font-size: 10pt;
	font-family: Times New Roman;
}

p.title
{
	margin: 30px 0 0 1cm;
}

.blocks, .summary
{
	display: table;
	padding: 30px 0;
}

.summary
{
	page-break-before: always;
}

	.summary .title
	{
		margin-bottom: 30px;
	}

.header-box
{
	position: relative;
	margin-left: 1cm;
}

.blocks .header-box,
.summary .header-box
{
	margin-left: 0;
}

.header
{
	position: absolute;
	width: 100%;
	text-align: center;
	opacity: 0.5;
	top: 0;
	margin-top: -32px;
}

	.block .paragraph:first-child .header
	{
		margin-top: -32px;
	}

	.block:first-child .paragraph:first-child .header
	{
		margin-top: -81px;
	}

	.header .title
	{
		display: none;
	}

	.blocks .header .title,
	.summary .header .title
	{
		display: inline
	}

	.header .name
	{
		float: left;
	}

	.header .id
	{
		float: right;
	}

.footer
{
	position: relative;
}

	.footer span
	{
		position: absolute;
		width: 100%;
		text-align: center;
		opacity: 0.5;
		margin-top: 477px;
	}

	.summary .footer span
	{
		margin-bottom: -32px;
	}

	.block:first-child .paragraph:first-child .footer span
	{
		margin-top: 429px;
	}

img,
.menu,
.head,
.navigation,
.resizer,
.block-changer,
.screen-action,
.play
{
	display: none;
}

.block:not(:first-child)
{
	padding-top: 38px;
}

.teller_Division
{
	border-bottom: 2px dotted;
}

.paragraph
{
	break-inside: avoid;
}

.paragraph.break
{
	margin-top: 100px;
	break-before: page;
}

.block:first-child .paragraph.break:first-child
{
	margin-top: 0;
}

.block:first-child .paragraph:first-child .header .title
{
	display: none;
}

@page
{
	margin-top: 0.5cm;
	margin-bottom: 0.5cm;
	margin-left: 0.5cm;
	margin-right: 0.5cm;
}

.page-odd-item
{
	margin-left: 1cm;
}

.page-even-item
{
	margin-right: 1cm;
}

.header-aligner {
	border: #900 solid 1px;
	position: fixed;
	top: 0;
	height: 20px;
	width: 100%;
	opacity: 0.5;
}

.footer-aligner {
	border: #909 solid 1px;
	position: fixed;
	bottom: 0;
	height: 20px;
	width: 100%;
	opacity: 0.5;
}
