*
{
	background: none #FFF;
}

.main
{
	font-size: 12pt;
	font-family: Times New Roman;
}

p.title
{
	margin: 30px 0 0px 0;
}

.scenes, .summary
{
	display: table;
	padding: 30px 0;
}

.summary {
	page-break-before: always;
}

	.summary .title
	{
		margin-bottom: 30px;
	}

#header #right {
	position: fixed;
	top: 0;
	right: 0;
}

#header #left {
	position: fixed;
	top: 0;
	left: 0;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 50%;
	text-align: center;
	display: table-footer-group;
}

	#footer:after {
		counter-increment: page;
		content: counter(page);
	}

img,
.menu,
.head,
.navigation,
.resizer,
.scene-changer,
.screen-action,
.play
{
	display: none;
}

.scene:not(:first-child) {
	padding-top: 38px;
}

.teller_Division {
	border-bottom: 2px dotted;
}
