.scenes
{
	margin-bottom: 50px;
}

	.scenes .scene
	{
		display: none;
	}

	.scenes .reading
	{
		display: block;
	}


.scene-changer
{
	padding: 0;
	text-align: center;
}

.scene-changer li
{
	border: 1px solid #000;
	display: inline-block;
	width: 30px;
	list-style: none;
	cursor: pointer;
}

.scene-changer .chosen
{
	background: #000;
}