.login
{
	position: absolute;
	opacity: 0.9;
	filter: alpha(opacity=90);
	margin-top: -100px;
	z-index: 1;
}

.login .inner
{
	width: 200px;
	padding: 20px;
	text-align: center;
}

.login input
{
	width: 180px;
	margin: 5px;
}