body { background: #000 no-repeat fixed center center; }

.bg1 { background-image: url("/Assets/images/background/01.jpg"); }
.bg2 { background-image: url("/Assets/images/background/02.jpg"); }
.bg3 { background-image: url("/Assets/images/background/03.jpg"); }
.bg4 { background-image: url("/Assets/images/background/04.jpg"); }
.bg5 { background-image: url("/Assets/images/background/05.jpg"); }
.bg6 { background-image: url("/Assets/images/background/06.jpg"); }
.bg7 { background-image: url("/Assets/images/background/07.jpg"); }

.darkback
{
	background: #222 url("/Assets/images/boxes/dark_background.jpg") !important;
	color: #FFF !important;
}

.lightback
{
	background: #EEE url("/Assets/images/boxes/light_background.jpg") !important;
	color: #000 !important;
}