.main
{
	padding: 25px;
	border: 1px inset #999;
	width: 800px;
	float: right;
	margin: 8px;
	min-height: 450px;
}
	.main p.title {
		color: #800;
	}

	.main p.title .sub {
		display: block;
	}

.paragraph {
	line-height: 1.5;
}

.just-print {
	display: none;
}
