@model Presentation.Models.SeasonEditEpisodeModel
           
@{
    var ajaxOptions = new AjaxOptions { HttpMethod = "Post", OnBegin = "SaveBegin('" + Model.SceneCounter + "')", OnSuccess = "SaveSuccess('" + Model.SceneCounter + "')", OnFailure = "SaveFailure('" + Model.SceneCounter + "')" };
    var route = new { sceneID = Model.Story.SceneList[Model.SceneCounter].ID, episodeID = Model.Story.ID };
    var html = new { id = "form_" + Model.SceneCounter };
    var scene = Model.Story.SceneList[Model.SceneCounter];
}

<div class="scene @if(scene.ID == Model.ReadingScene) { @("reading") }" id="Scene@(Model.SceneCounter)">
    @using (Ajax.BeginForm("EditScene", route, ajaxOptions, html))
    {
        for (var s = 0; s <= Model.SceneCounter; s++)
        {
            @Html.HiddenFor(m => m.Story.SceneList[s].ID);
        }
        
        for (var p = 0; p < scene.ParagraphTypeList.Count; p++)
        {
            Model.ParagraphCounter = p;
        
            @Html.Partial("Author/Paragraph")
        }

        Model.TalkCounter = 0;
        Model.TellerCounter = 0;
    }
    
</div>
