@model String

@{
	var link = "https://uiclap.bio/darakeon";
	var text = "comprar livro";

	if (Model == "")
	{
		text += "s";
	}
	else
	{
		link = Model;
	}
}

<a class="book-link screen-action"
	href="@link"
	target="_blank"
	title="@text"
>
	<span>
		&#x1F56E;
	</span>
	@text
</a>

