@using Structure.Helpers
@model Presentation.Models.BaseModel

@{
	ViewBag.Title = "MEAK";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var route = RouteStories.With("A", "01");
}

<div class="message">

	<p class="title">Sunariom</p>

	<p>
		Esta é a história de alguém que perdeu uma parte importante de si,
		algo que diz quem somos. A coisa mais importante que um ser possui.
		Aquilo sem o que você se torna apenas um amontoado de átomos ao acaso.
	</p>

	<p>
		Esta é a história de um amontoado de átomos ao acaso tentando voltar a ser.
	</p>

	<p class="start-reading">
		<a href="@route">Começar a ler</a>
	</p>

</div>

<a class="book-link screen-action"
		href="https://uiclap.bio/darakeon"
		target="_blank">
	&#x1F56E;
</a>
