@model Presentation.Models.BaseModel

@{
	ViewBag.Title = "MEAK";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="message">

	<p class="title">Sunariom</p>

	<p>
		Esta é a história de alguém que perdeu uma parte importante de si,
		algo que diz quem somos. A coisa mais importante que um ser possui.
		Aquilo sem o que você se torna apenas um amontoado de átomos ao acaso.
	</p>

	<p>
		Esta é a história de um amontoado de átomos ao acaso tentando voltar a ser.
	</p>

</div>
