@model Structure.Entities.System.Episode

<div id="print" style="counter-reset: page @Model.PageStart">
	<div id="header">
		<div id="left">
			MEAK @Model.Season@Model
		</div>
		<div id="right">
			@Model.Title
		</div>
	</div>
	<div id="footer"></div>
</div>
