.main
{
	text-align: justify;
	width: auto;
	height: auto;
	font-size: 130%;
}

.main .title
{
	text-align: center;
	font-size: 125%;
}

.main p.title
{
	font-weight: bold;
	text-transform: uppercase;
}

.main .sign
{
	text-align: right;
	clear: both;
}

.main p
{
    margin: 0px 0px 20px 0px;
}