.head
{
	padding: 10px;
	margin: 0px;
}

.head table
{
	width: 100%;
}

.head img
{
	vertical-align: middle;
	margin: 0px;
	cursor: pointer;
	border: 0px;
}

.head .arms img
{
	width: 66px;
	height: 69px;
	float: right;
}

.head .logo img
{
	padding: 5px;
}