.menu
{
	margin: 50px 30px;
	width: 200px;
	float: left;
	text-align: center;
	font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
}

.menu .header
{
	padding: 2px;
}

.menu .body
{
    padding: 5px;
    margin: 0px 0px 20px 0px;
}

.menu .body .item
{
    padding: 0px 8px;
}

#legend
{
	cursor: pointer;
}

.menu a
{
    text-decoration: none;
    color: inherit;
}