.resizer
{
    position: absolute;
    right: 70px;
    top: 145px;
}

.resizer button
{
    width: 45px;
    height: 19px;
    padding: 0;
    vertical-align: middle;
    border: none;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.resizer button:hover
{
    opacity: 1;
    filter: alpha(opacity=100);
}

.resizer .sizeLess
{
    font-size: 80%;
}

.resizer .sizeMore
{
    font-size: 120%;
    padding-bottom: 3px;
}