.menu
{
	margin: 50px 30px;
	width: 200px;
	float: left;
	text-align: center;
	font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
}

.menu .season
{
    margin: 0px 0px 20px 0px;
}

.menu .header
{
	padding: 2px;
	border-radius: 0 0 10px 10px;
}

.menu #save_status
{
	padding: 2px;
	border-radius: 10px 10px 0 0;
}

.menu .body 
{
    padding: 5px;
}

.menu .body .item
{
    padding: 0px 8px;
}

#legend
{
	cursor: pointer;
}

.menu a
{
    text-decoration: none;
    color: inherit;
}


.storyNameSuperBox
{
	display: table;
	width: 100%;
}

.storyNameBox:empty
{
	visibility: hidden;
}

.storyNameBox
{
	height: 40px;
	vertical-align: middle;
	display: table-cell;
	width: 100%;
	padding: 5px;
}