.resizer
{
    z-index: 1;
    float: right;
    margin: -30px 35px;
}

.resizer button
{
    width: 45px;
    height: 19px;
    padding: 0;
    vertical-align: middle;
    border: none;
}

.resizer .sizeLess
{
    font-size: 80%;
}

.resizer .sizeMore
{
    font-size: 120%;
    padding-bottom: 3px;
}