.menu
{
	margin: 5px 30px 50px 30px;
	width: 180px;
	float: left;
	text-align: center;
	font-size: 11px;
	font-family: Verdana, Tahoma, Arial, "Helvetica Neue", Helvetica, Sans-Serif;
}

.menu .season
{
    margin: 0px 0px 20px 0px;
}

.menu .header
{
	padding: 2px;
	border-radius: 0 0 10px 10px;
	font-weight: bold;
	font-size: 12px;
}

.menu #save_status
{
	padding: 2px;
	border-radius: 10px 10px 0 0;
}

.menu .body 
{
    padding: 5px;
}

.menu .body .item
{
    padding: 0px 8px;
    opacity: 0.30;
    filter: alpha(opacity=30);
}

.menu .body .item:hover,
.menu .body .item.selected
{
    opacity: 1;
    filter: alpha(opacity=100);
}

#legend
{
	cursor: pointer;
}

.menu a
{
    text-decoration: none;
    color: inherit;
}


.storyNameSuperBox
{
	display: table;
	width: 100%;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.storyNameBox:empty
{
	visibility: hidden;
}

.storyNameBox
{
	height: 34px;
	vertical-align: middle;
	display: table-cell;
	width: 100%;
	padding: 2px 10px 4px 10px;
    border: #CCC dashed 1px;
}