#legend
{
	cursor: pointer;
}

#legend .body
{
	display: none;
	filter: alpha(opacity=65);
	opacity: 0.65;
}

.items
{
	width: 90%;
}


.items .item
{
	text-align: left;
}


.items .meaning
{
	text-align: right;
}