.seasonEpisodesList
{
	margin: 0;
	padding: 0;
}

.seasonEpisodesList li
{
	list-style: none;
}

.seasonEpisodesList .title
{
    text-decoration: none;
    color: inherit;
    margin-bottom: 7px;
    display: block;
    font-size: 115%;
}

.seasonEpisodesList .epCode
{
	font-weight: bold;
}

.seasonEpisodesList .epTitle
{
	font-style: italic;
}

.seasonEpisodesList .summary
{
    text-decoration: none;
    color: inherit;
    margin-bottom: 25px;
    display: block;
	text-indent: 50px;
}