.seasonItemList
{
	line-height: 2;
	float: left;
	width: 50%;
	font-size: 125%;
}

.seasonItemList .epCode
{
	font-weight: bold;
}

.seasonItemList .epTitle
{
	font-style: italic;
}

.seasonItemList a
{
    text-decoration: none;
    color: inherit;
}